<div class="flex justify-between w-full bg-gray-800 text-white items-center p-4">
  <div class="w-32">
    <%= image_tag 'logo.png' %>
  </div>
  <%= button_to destroy_usuario_session_path, method: :delete, class: "text-white font-semibold text-[15px] mt-[0.05em]" do %>
      Sair do Sistema
  <% end %>   
</div>
<header class='shadow-md bg-orange-600 font-[sans-serif] tracking-wide relative z-50'>
  <div class='flex flex-wrap justify-center px-10 py-3 relative'>
    <nav>
      <div class="container mx-auto flex items-center justify-between">
        <div class="lg:flex lg:gap-x-10 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-2/3 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-4 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50">
          <%= link_to root_path, class: "text-white font-semibold text-[15px] mt-[0.05em]" do %>
              Principal
          <% end %>
          <%= link_to visitantes_path, class: "text-white font-semibold text-[15px] mt-[0.05em]" do %>
              Pessoas
          <% end %>          
          <%= render 'layouts/menus/reports'%>           
        </div>
      </div>
    </nav>
  </div>
</header>