  <div id="<%= dom_id visitante %>">
    

    <p class="my-5">
      <strong class="block font-medium mb-1">Nome:</strong>
      <%= visitante.nome %> <%= visitante.sobrenome %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Telefone:</strong>
      <%= visitante.telefone %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Data da Visita:</strong>
      <%= visitante.created_at.strftime('%d/%m/%Y') %>
    </p>  

    <p class="my-5">
      <strong class="block font-medium mb-1">Grupo:</strong>
      <%= visitante.grupo %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Observacoes:</strong>
      <%= visitante.observacoes %>
    </p>

  </div>