<%= turbo_frame_tag 'search' do %>

<div class="min-h-screen py-5">
    
    <div class='overflow-x-auto w-full'>

        <table class="table-auto w-full mt-8">
            <thead>
                <tr>
                    <th class='text-left text-gray-900 font-light text-xs border-y border-gray-200 py-2'>NOME COMPLETO</th>
                    <th class='text-gray-900 font-light text-xs border-y border-gray-200 py-2'>TELEFONE</th>
                    <th class='text-gray-900 font-light text-xs border-y border-gray-200 py-2'>GRUPO</th>
                    <th class='text-gray-900 font-light text-xs border-y border-gray-200 py-2'>DATA VISITA</th>
                </tr>
            </thead>
            <tbody>

                <% visitantes.each do |visitante| %>
                    
                    <tr dom_id visitante class="min-w-full p-4 border-solid border-y border-gray-200">
                        
                        <td class="my-5 text-xs border-solid border-y border-gray-200 py-2">
                        <p class="text-gray-800 font-bold"><%= link_to visitante.nome_completo.upcase, visitante, data: { turbo: false } %></p>
                        </td>
                    
                        <td class="my-5 text-center text-xs border-solid border-y border-gray-200">
                        <%= visitante.telefone %>
                        </td>

                        <td class="my-5 text-center text-xs border-solid border-y border-gray-200">
                        <%= visitante.nome_grupo %>
                        </td>                        
                    
                        <td class="my-5 text-center text-xs border-solid border-y border-gray-200 flex-auto">
                        <%= visitante.created_at.strftime('%d/%m/%Y') %>
                        </td>  
                    
                    </tr>

                <% end %>

            </tbody>
        </table>  
    </div>
</div>

<% end %>

