<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-3xl">Pessoas</h1>
    <%= link_to 'Nova Pessoa', new_visitante_path, class: "rounded-full py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="mx-4">
    <%= form_with url: visitantes_path, 
                  method: :get,
                  data: { turbo_frame: 'search',
                          controller: "search",
                          action: "keyup->search#perform" } do |f| %>
        <%= f.text_field :query, value: params[:query], class: 'w-1/2 rounded-full border-gray-200', placeholder: 'Localizar' %>
    <% end %>
  </div>

  <div>

    <main class="flex-1 mx-4">
             
        <%= render 'visitante_table', visitantes: @visitantes %>     

    </main>

  </div>

</div>